.DS_Store
.idea/
.vscode/
.history/
*.iml
.pnpm-store/

# env
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.*.example
!**/.env.example
!**/.env.*.example

# Java
target/
*.class
*.log

# Node
node_modules/
dist/
.vite/
coverage/

# UniApp
unpackage/

# uploads/runtime
uploads/
logs/
tmp/

# database
*.dump
*.sql.gz
