POSTGRES_DB=xc_learning_stg
POSTGRES_USER=xc_stg_user
POSTGRES_PASSWORD=replace_in_deploy_platform
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=replace_in_deploy_platform
MINIO_ROOT_PASSWORD=replace_in_deploy_platform
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
